
#nav
{
    height: 3em;
    background-color: rgb(11, 11, 11);
    margin: 15px 15px 10px 8px;
}
#nav a
{
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: bold;
    margin-top: 0.5em;
    width: 15em;
    color: white;
    padding: 10px;    
}
#nav li
{
    text-decoration-color: aliceblue;
    text-align: center;
    display: inline;
}
#footer
{
    background-color: rgb(11, 11, 11);
    color: #FFF7E9;
    padding: 0.5em;
    margin: 15px 15px 10px 8px;
    float: left;
    width: 100%;
}
div{
    margin: 15px 15px 10px 8px;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ef3340;
    margin: 15px 15px 10px 8px;

}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    margin: 15px 15px 10px 8px;
}
h3{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #ef3340;
        margin: 15px 15px 10px 8px;
}
h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 15px 15px 10px 8px;
}
p{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 15px 15px 10px 8px;
}
.ltu-image{
    background-image: url("ltu.jpg");
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 400px;
    background-position: center;
    
}
.ltu-text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 15px 15px 10px 8px;
    color: aliceblue;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
a:link {
    color: #1746A2;
    background-color: transparent;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;

  }
a:visited {
    color: #ef3340;
    background-color: transparent;
    text-decoration: none;
  }
a:hover {
    color: pink;
    background-color: transparent;
    text-decoration: underline;
  }
a:active {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }

.sec{
    display: inline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: bold;
    width: 15em;
    color: black;
}
#left{
    float: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 45%;
}
#right{
    float: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 45%;
    margin: 15px 15px 10px 8px;    
}
span{
    padding: 0.5px;
}
table{
    width: 100%;
    border: 3px outset black;
    padding: 2em;
    
}
th{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    height: 3em;
    border-bottom: 1px solid black;
    width: 100%;
    
}
td{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    height: 10em;
    width: 50%;
}
